{
  "extends": [
    "stylelint-config-standard-scss"
  ],
  "rules": {
    "selector-class-pattern": null,
    "media-query-no-invalid": null,
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "declaration-block-no-redundant-longhand-properties" : null,
    "property-no-unknown" :null,
    "selector-pseudo-class-no-unknown" : null
  }
}