@use "variables";
@use "mixin";
@use './reset.css';
@use './font.css';


html{
  font-size: 10px;
}

body{
  font-family: variables.$font-family;
  color: variables.$basic-color;
  background: variables.$body-bg-color;
}

#wrap{
  width: 100%;
  max-width: 128rem;
  margin:0 auto;
}


@include mixin.small-mobile{
  html {
    font-size: 8px;
  }
}
