@use 'variables';
@use 'mixin';
@use './reset.css';
@use './font.css';

html {
  font-size: 10px;
}

body {
  font-family: variables.$font-family;
  color: variables.$basic-color;
  background: variables.$body-bg-color;
  overflow-y: auto;
}

#wrap {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
}

@include mixin.small-mobile {
  html {
    font-size: 8px;
  }
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 10px;
  border: 4px solid transparent;
  box-shadow: inset 6px 6px 0 rgba(34 34 34 / 15%);
}

::-webkit-scrollbar-thumb:hover {
  border: 4px solid transparent;
  box-shadow: inset 6px 6px 0 rgba(34 34 34 / 30%);
}

::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}
