$font-family: NotoSansKR, sans-serif;
$basic-color: #232323;
$body-bg-color: #fff;
$layout-default-padding : 20px;

@media (prefers-color-scheme: dark) {
  $basic-color: #fff;
  $body-bg-color: #232323;
}
